<amp-img media="(max-width: 576px)"
    src="@@src@576w.webp?v=@@version"
    width="@@width"
    height="@@height"
    layout="@@layout"
    class="@@class"
    style="@@style"
    alt="@@alt"
    amp-fx="@@amp-fx">

        <amp-img fallback
            src="@@src@576w.jpg?v=@@version"
            width="@@width"
            height="@@height"
            layout="@@layout"
            class="@@class"
            style="@@style"
            alt="@@alt"></amp-img>

</amp-img>

<amp-img media="(min-width: 577px) and (max-width: 768px)"
    src="@@src@768w.webp?v=@@version"
    width="@@width"
    height="@@height"
    layout="@@layout"
    class="@@class"
    style="@@style"
    alt="@@alt"
    amp-fx="@@amp-fx">

        <amp-img fallback
            src="@@src@768w.jpg?v=@@version"
            width="@@width"
            height="@@height"
            layout="@@layout"
            class="@@class"
            style="@@style"
            alt="@@alt"></amp-img>

</amp-img>

<amp-img media="(min-width: 769px) and (max-width: 992px)"
    src="@@src@992w.webp?v=@@version"
    width="@@width"
    height="@@height"
    layout="@@layout"
    class="@@class"
    style="@@style"
    alt="@@alt"
    amp-fx="@@amp-fx">

        <amp-img fallback
            src="@@src@992w.jpg?v=@@version"
            width="@@width"
            height="@@height"
            layout="@@layout"
            class="@@class"
            style="@@style"
            alt="@@alt"></amp-img>

</amp-img>

<amp-img media="(min-width: 993px) and (max-width: 1200px)"
    src="@@src@1200w.webp?v=@@version"
    width="@@width"
    height="@@height"
    layout="@@layout"
    class="@@class"
    style="@@style"
    alt="@@alt"
    amp-fx="@@amp-fx">

        <amp-img fallback
            src="@@src@1200w.jpg?v=@@version"
            width="@@width"
            height="@@height"
            layout="@@layout"
            class="@@class"
            style="@@style"
            alt="@@alt"></amp-img>

</amp-img>

<amp-img media="(min-width: 1201px)"
    src="@@src@1400w.webp?v=@@version"
    width="@@width"
    height="@@height"
    layout="@@layout"
    class="@@class"
    style="@@style"
    alt="@@alt"
    amp-fx="@@amp-fx">

        <amp-img fallback
            src="@@src@1400w.jpg?v=@@version"
            width="@@width"
            height="@@height"
            layout="@@layout"
            class="@@class"
            style="@@style"
            alt="@@alt"></amp-img>

</amp-img>