// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Header tag para páginas con fondo blanco
header {
    background-color: white;
}

#header-transparente .menu-ordenador > ul > li > a:hover {
    color: #202124;
}

#header-transparente .menu-ordenador > ul > li > a::before {
    background-color: #202124;
}

#header-transparente .btn-menu-hamburguesa svg {
    fill: black;
}




// Main
main {
    margin-top: 76px;
}


// h1
h1 {
    margin-top: 5px;
    font-size: 50px;
}


// Barra lateral
@media (max-width: 767px) {

    .barra-lateral {
        margin-bottom: 60px;
    }

}


// Barra lateral - Título
.barra-lateral-titulo {
    font-size: 16px;
}


// Barra lateral - Contenido
.barra-lateral-contenido {
    margin-bottom: 40px;
    color: #575757;
}


// Caja con dos imágenes verticales
.caja-dos-imagenes-verticales {
    padding: 80px 60px;
}

@media (max-width: 767px) {

    .caja-dos-imagenes-verticales {
        padding: 40px 0;
    }

}


// Sección con 3 imágenes
#seccion-3-imagenes .row {
    padding: 40px 0 0 0;
}

@media (min-width: 768px) {

    #seccion-3-imagenes .row {
        padding: 80px 60px 40px 60px;
    }

}