<span class="ocultar-texto">${{ _general.cambiar-el-idioma }}$</span>

${{ _header.bandera-svg }}$

<!-- NOTA: Si algún código SVG de una bandera es demasiado largo y da un error de "Avoid an excessive DOM size" en Lighthouse (como es el caso de la bandera de España con el escudo), puedo cargar la imagen de manera normal en lugar de insertar el código SVG directamente en el HTML. -->
<!-- TODO: si uso esto, añadir el preload en head-tag-preloads.html -->
<!-- <amp-img src="https://192.168.1.42:3000/img/banderas/${{ _header.bandera-nombre-svg }}$.svg"
    width="25"
    height="18.75"
    layout="fixed"
    alt="${{ _header.bandera-nombre }}$">
</amp-img> -->