<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-4 mb-4">

                <h2>${{ _footer.office }}$</h2>

                <a href="https://www.google.es/maps/place/Foster+%2B+Partners/@51.4803263,-0.1706651,17z/data=!3m1!4b1!4m5!3m4!1s0x48760573b5e05ecb:0xf8e9933169593633!8m2!3d51.4803263!4d-0.1684764?shorturl=1" target="_blank" rel="noopener">${{ _web.calle-y-numero }}$, <br/>${{ _web.region }}$ ${{ _web.codigo-postal }}$, <br/>${{ _web.pais }}$</a>

            </div>
            <div class="col-md-4 mb-4">

                <h2>${{ _footer.contact }}$</h2>

                <a href="mailto:${{ _web.correo-electronico }}$">E. ${{ _web.correo-electronico }}$</a>

                <a href="tel:${{ _web.telefono-prefijo }}$ ${{ _web.telefono }}$">T. ${{ _web.telefono }}$</a>
                
                <a href="tel:${{ _web.telefono-prefijo }}$ ${{ _web.fax }}$">F. ${{ _web.fax }}$</a>

            </div>
            <div class="col-md-4 mb-4">

                <h2>Legal</h2>

                <a href="https://192.168.1.42:3000/${{ _nombres_archivos.legal-notice }}$.html" target="_blank" rel="noopener">${{ legal-notice.titulo }}$</a>

                <a href="https://192.168.1.42:3000/${{ _nombres_archivos.privacy-policy }}$.html" target="_blank" rel="noopener">${{ privacy-policy.titulo }}$</a>

                <a href="https://192.168.1.42:3000/${{ _nombres_archivos.cookies-policy }}$.html" target="_blank" rel="noopener">${{ cookies-policy.titulo }}$</a>

            </div>
        </div>

        <!-- NOTA: para el desarrollo, añadir data-ampdevmode="true" a la etiqueta <amp-script> -->
        <div id="copyright"><amp-script script="script-copyright-con-ano-actual" layout="fixed-height" height="25" style="display: flex; flex-direction: column; justify-content: flex-end;"><span id="copyright-con-ano-actual">© Architecturer <span class="text-nowrap">2000 - 2022</span></span></amp-script></div>
        
    </div>
</footer>

<!-- Script para sacar el año actual y ponerlo en el copyright -->
<!-- TODO: Para que funcione, hay que poner el hash que te indique la consola de desarrollador: <meta name="amp-script-src" content="XXXXXXX">; y cambiarlo cada vez que cambie el contenido del script. -->
<script id="script-copyright-con-ano-actual" type="text/plain" target="amp-script">

    document.getElementById("copyright-con-ano-actual").innerHTML = "© Architecturer <span class='text-nowrap'>2000 - " + new Date().getFullYear() + "</span>";

</script>