<!-- AMP Preloads -->
<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">

<!-- AMP Preloads: Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>

<!-- AMP Preloads: Hero image (Preload an important image in the first viewport to improve page load time.) -->
<!-- Referencia: https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content -->
<link rel="preload" href="https://192.168.1.42:3000/img/logo/architecturer-logo-blanco.svg" as="image">
<link rel="preload" href="https://192.168.1.42:3000/img/logo/architecturer-logo.svg" as="image">