<div style="padding-top:15px;padding-bottom:15px;display:flex">
	<a href="https://192.168.1.42:3000/" style="display: flex; flex-direction: column; justify-content: center;">
		
		<!-- TODO: precargar logo en head-tag-preloads.html') -->
		<amp-img src="https://192.168.1.42:3000/img/logo/architecturer-logo.svg"
			width="164"
			height="46"
			layout="fixed"
			class="logo"
			alt="${{ _header.architecturer-logo-alt }}$">
		</amp-img>
		
		<!-- TODO: precargar logo en head-tag-preloads.html') -->
		<amp-img data-hero
			src="https://192.168.1.42:3000/img/logo/architecturer-logo-blanco.svg"
			width="164"
			height="46"
			layout="fixed"
			class="logo-blanco"
			alt="${{ _header.architecturer-logo-blanco-alt }}$">
		</amp-img>
		
	</a>
</div>