// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Cabecera
#header-transparente {
    display: none;
}

#header-con-fondo {
    opacity: 1;
    transform: translateY(0);
}

// Texto
main p,
main li {
    text-align: justify;
}

main ul li:not(:last-child) {
    margin-bottom: 10px;
}
