// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Header
header ul > li > a {
    color: white;
}


// Hero - Video container y overlay
// FIXME: quitar icono del vídeo que sale por un instante
.video-container,
.video-container .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

.video-container .overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}


// Hero - Vídeo
@media (min-width: 634px) {

    #hero amp-video {
        // Calcular el ancho haciendo que el vídeo ocupe todo el alto, usando la proporción de ancho/alto del vídeo. Hay que usar min-width o no funciona.
        min-width: calc( ( 1920 * 100vh ) / 1080 );

        // Mantener el centro del vídeo visible
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 633px) {

    #hero amp-video {
        // Calcular el ancho haciendo que el vídeo ocupe todo el alto, usando la proporción de ancho/alto del vídeo. Hay que usar min-width o no funciona.
        min-width: calc( ( 1080 * 100vh ) / 1920 );

        // Mantener el centro del vídeo visible
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}


// Hero - amp-youtube
/* #hero amp-youtube {
    top: -10%;
} */


// Hero - Texto
#hero {
    text-align: left;
}

#hero .container {
    z-index: 1;
}

#hero h1 {
    margin-bottom: 30px;
}

@media (max-width: 600px) {

    #hero h1 {
        font-size: 30px;
    }
    
}


// Hero - Cambiar palabras
// FIXME: añadir animación
.cambiar-palabras {
    
}


// Hero - Enlace "View Projects"
#hero a {
    border-bottom: 1px solid white;
    padding-bottom: 3px;

    color: white;
    text-decoration: none;
}