<amp-consent id="banner-cookies-amp-consent" layout="nodisplay">

    <!-- consentInstanceId: nada que yo use. -->
    <!-- consentRequired: marcar como true o el banner no sale. -->
    <!-- promptUI: es el contenido del banner. El valor tiene que ser el ID del elemento que está justo debajo de este script. -->
    <!-- (opcional) postPromptUI: lo que queda después de aceptar las cookies. Como la barrita blanca de Complianz en WordPress. El valor tiene que ser el ID del elemento que está debajo del elemento al que hace referencia promptUI. -->
    <script type="application/json">
        {
            "consentInstanceId": "consent-id",
            "consentRequired": true,
            "promptUI": "consentDialog"
        }
    </script>

    <div id="consentDialog">

        <!-- <div class="dismiss-button" role="button" tabindex="0" on="tap:banner-cookies-amp-consent.dismiss">X</div> -->

        <p class="text-center" style="font-size:16px">${{ banner-aceptacion-cookies.titulo }}$</p>

        <amp-accordion id="accordion-mostrar-ocultar-texto-banner-aceptacion-cookies" expand-single-section animate disable-session-states>
            <section id="seccion-texto-banner-aceptacion-cookies" on="expand:AMP.setState({ texto_mas_menos: '${{ banner-aceptacion-cookies.menos }}$' });collapse:AMP.setState({ texto_mas_menos: '${{ banner-aceptacion-cookies.mas }}$' });">
                <header>

                    <p class="mb-0" style="text-align:justify;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">${{ banner-aceptacion-cookies.descripcion }}$</p>

                    <p id="leer-mas" class="mb-0">${{ banner-aceptacion-cookies.leer }}$ <span [text]="texto_mas_menos">${{ banner-aceptacion-cookies.mas }}$</span></span></p>

                </header>
                <div style="text-align: justify;">

                    <p>${{ banner-aceptacion-cookies.descripcion }}$</p>

                </div>
            </section>
        </amp-accordion>

        <div style="display:flex;flex-wrap:wrap">

            <div style="margin-bottom:10px;margin-right:20px;display:flex;align-items:center">
                <input id="cookies-funcionales" type="checkbox" checked disabled>
                <label for="cookies-funcionales" style="margin-left:4px">${{ banner-aceptacion-cookies.cookies-funcionales }}$</label>
            </div>

            <div style="margin-bottom:10px;margin-right:20px;display:flex;align-items:center">
                <input id="cookies-estadisticas" type="checkbox">
                <label for="cookies-estadisticas" style="margin-left:4px">${{ banner-aceptacion-cookies.cookies-estadisticas }}$</label>
            </div>

            <div style="margin-bottom:10px;display:flex;align-items:center">
                <input id="cookies-de-marketing" type="checkbox">
                <label for="cookies-de-marketing" style="margin-left:4px">${{ banner-aceptacion-cookies.cookies-de-marketing }}$</label>
            </div>

        </div>        
        
        <div class="banner-cookies-listado-botones">

            <button on="tap:banner-cookies-amp-consent.accept" class="btn-banner-cookies btn-aceptar">${{ banner-aceptacion-cookies.aceptar-todo }}$</button>
            
            <button on="tap:banner-cookies-amp-consent.reject" class="btn-banner-cookies btn-rechazar">${{ banner-aceptacion-cookies.rechazar }}$</button>

        </div>

    </div>

    <!-- <div id="post-consent-ui">
        <button on="tap:banner-cookies-amp-consent.prompt()">Update Consent</button>
    </div> -->

</amp-consent>