<!-- Cargar Service Worker de la página de "Estás offline" (uso de PWA) -->
<!-- Fuente: https://web.dev/offline-fallback-page/ -->
<!-- CUIDADO: los archivos JS de los Service Workers deben ir a la altura del HTML en las builds. -->
<amp-install-serviceworker
  src="https://192.168.1.42:3000/service-worker-pagina-estas-offline-y-optimizaciones-amp.min.js?v=2"
  layout="nodisplay"
  ></amp-install-serviceworker>
  <!-- data-iframe-src="https://192.168.1.42:3000/service-worker-pagina-estas-offline-y-optimizaciones-amp.html" -->