// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";



// Header tag para páginas con fondo blanco
header {
    background-color: white;
}

#header-transparente .menu-ordenador > ul > li > a:hover {
    color: #202124;
}

#header-transparente .menu-ordenador > ul > li > a::before {
    background-color: #202124;
}

#header-transparente .btn-menu-hamburguesa svg {
    fill: black;
}


// Cabecera
#header-transparente {
    visibility: hidden;
}

#header-con-fondo {
    opacity: 1;
    transform: translateY(-82px);
}


// Texto
h2 {
    font-size: 22px;
}

main p,
main li {
    text-align: justify;
}

main ul li:not(:last-child) {
    margin-bottom: 10px;
}