// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Main
main {
    overflow-x: hidden;  // IMPORTANTE: Solucionar overflow horizontal en iPhone provocado por las imágenes y vídeos con algún margen lateral inusual para su colocación.
    overflow-y: hidden;  // IMPORTANTE: Solucionar scroll vertical errático en Safari (macOS y iPhone).
}



// Colores
.color-principal {
    color: $color-principal;
}

.color-acento {
    color: $color-acento;
}



// Enlaces - Ocultar textos
.ocultar-texto {
    font-size: 0;
    line-height: 0;
    color: transparent;
    letter-spacing: 0;
}



// Fondos
.fondo-color-principal {
    background-color: $color-principal;
}

.fondo-color-acento {
    background-color: $color-acento;
}



// Fill
.fill-color-principal {
    fill: $color-principal;
}

.fill-color-acento {
    fill: $color-acento;
}



// Pesos de fuente
.fw-800 {
    font-weight: 800;
}



// Ancla (con offset para compensar el menú)
.ancla {
    display: block;
    position: relative;
    top: -81px;
    visibility: hidden;
}



// Filas
@media (max-width: 767px) {
    .invertir-orden-en-movil > div:first-child {
        order: 2;
    }
}

@media (max-width: 991px) {
    .invertir-orden-en-tablet-y-movil > div:first-child {
        order: 2;
    }
}



// Sección
.seccion {
    padding-top: 100px;
    padding-bottom: 100px;
}



// Botones - CTA
.cta {
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 30px;
    width: max-content;
    background-color: $color-principal;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.cta:hover {
    color: $color-principal;
    background-color: white;
}

@media (max-width: 450px) {

    .cta {
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
    }

}

.centrar-cta {
    display: block;
    margin-right: auto;
    margin-left: auto;
}



// Botones - FABs
.fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    width: 60px;
    height: 60px;
}



// Botones - FABs - WhatsApp
.whatsapp {
    background: #25d366;
    padding: 10px 13px 13px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.57) 0px 1px 3px;
}

.whatsapp:hover {
    background: #1fad53;
}

.whatsapp svg {
    fill: white;
}

@media (min-width: 768px) {
    .whatsapp {
        display: none;
    }
}



// Hero
#hero {
    min-height: 100vh;
    // box-shadow: inset 0 0 0 999999999px rgba(51, 149, 198, 0.7);

    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hero h1 {
    font-size: 60px;
}

#subtitulo-hero {
    font-size: 32px;
    font-weight: 300;
}

@media (max-width: 600px) {

    #hero h1 {
        font-size: 43px;
    }
    
    #subtitulo-hero {
        font-size: 30px;
    }

}


// Sección de galería
.seccion-galeria .contenedor-imagen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion-galeria amp-img {
    margin: 0 40px 0 0;
}


// Imágenes con lightbox
amp-img[lightbox]:hover {
    cursor: zoom-in;
}


// Banner de aceptación de cookies
#banner-cookies-amp-consent {
    right: 20px;
    left: auto;
    bottom: 20px;
    width: calc(100% - 40px);
  
    padding: 15px;
  
    background-color: #fff;
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 15%);
    border-radius: 8px;
  
    line-height: 1.6rem;
    font-weight: 400;
    color: #48525c;
    font-size: .875rem;
}

@media (min-width: 768px) {

    #banner-cookies-amp-consent {
        max-width: 500px;
    }

}

@media (max-width: 767px) {

    #banner-cookies-amp-consent {
        bottom: 5px;
    }

}

#accordion-mostrar-ocultar-texto-banner-aceptacion-cookies > section > header {
    margin-bottom: 10px;
    border: none;
    background: transparent;
}

#accordion-mostrar-ocultar-texto-banner-aceptacion-cookies > section > header:focus {
    outline: 0
}

#accordion-mostrar-ocultar-texto-banner-aceptacion-cookies > section > header:hover #leer-mas {
    text-decoration: underline
}

.banner-cookies-listado-botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-banner-cookies {
    margin: 8px 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;

    min-width: 150px;
}

@media (max-width: 767px) {

    .banner-cookies-listado-botones {
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .btn-banner-cookies {
        margin: 8px 5px;

        min-width: 120px;
    }
}

.btn-aceptar {
    background-color: black;
    color: white;
}

.btn-aceptar:hover {
    background-color: darken(black, 10%);
}

.btn-rechazar {
    background-color: #f1f1f1;
    color: black;
}

.btn-rechazar:hover {
    background-color: darken(#f1f1f1, 10%);
}