####  Redireccionar a https y sin www  ####
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)(.+) [OR]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?(.+)
RewriteRule ^ https://%2%{REQUEST_URI} [R=301,L]




#### Páginas de error ####
ErrorDocument 404 https://davidborge.com/architecturer/error-404.html
ErrorDocument 403 https://davidborge.com/architecturer/error-403.html
ErrorDocument 405 https://davidborge.com/architecturer/error-405.html
ErrorDocument 500 https://davidborge.com/architecturer/error-500.html
ErrorDocument 505 https://davidborge.com/architecturer/error-505.html




#### Cambios de URL permanentes ####

# Si el archivo está en la raíz (sin el dominio y con la barra lo primero, o no funciona):
# Redirect 301 /pagina_antigua.html /pagina_nueva.html

# Si el archivo está en una carpeta:
# Redirect 301 /ruta/al/archivo/paginaantigua.html /ruta/al/archivo/paginanueva.html




#### HTTP caching ####
#- Documentación: https://web.dev/uses-long-cache-ttl/

#- [Esto debe estar en Ionos] Cargar el módulo "expires" de Apache, que nos permite usar la cabecera "Cache-Control" en los "Response Headers"
#a2enmod expires

#- Activar el módulo "expires" de Apache
ExpiresActive on

#- Establecer un valor distinto para cada tipo de archivo (mime types)

#-- Imágenes y vídeos: duración de 1 año (31.536.000 segundos) porque las imágenes no suelen cambiar y, si cambian, no pasa nada porque el navegador va a cargar la última versión porque el nombre de archivo tiene un ?v=NUMERO_VERSION al final de la URL (también se podría añadir un hash al nombre del archivo con Gulp).
ExpiresByType image/jpeg     "access plus 31536000 seconds"
ExpiresByType image/webp     "access plus 31536000 seconds"
ExpiresByType image/png      "access plus 31536000 seconds"
ExpiresByType image/svg+xml  "access plus 31536000 seconds"
ExpiresByType image/gif      "access plus 31536000 seconds"
ExpiresByType video/mp4      "access plus 31536000 seconds"
ExpiresByType video/webm     "access plus 31536000 seconds"

#-- CSS: suele cambiar con más frecuencia que las imágenes, así que conviene que la duración sea más corta.
# ExpiresByType text/css     "access plus 1 days"