<!-- Menú móvil (sidebar) -->
<amp-sidebar id="sidebar-menu-movil" layout="nodisplay" side="right">

    <div style="margin: 2rem;">
            
        <a href="https://192.168.1.42:3000/">
                        
            <!-- TODO: precargar logo en head-tag-preloads.html') -->
            <amp-img src="https://192.168.1.42:3000/img/logo/architecturer-logo.svg"
                width="164"
                height="46"
                layout="fixed"
                class="d-block mx-auto"
                alt="Architecturer: isotipo en color">
            </amp-img>
            
        </a>

    </div>
        
    <ul>
        @@include('../elementos-menu.html')
    </ul>

</amp-sidebar>