// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Header tag para páginas con fondo blanco
header {
    background-color: white;
}

#header-transparente .menu-ordenador > ul > li > a:hover {
    color: #202124;
}

#header-transparente .menu-ordenador > ul > li > a::before {
    background-color: #202124;
}

#header-transparente .btn-menu-hamburguesa svg {
    fill: black;
}


// Main
main {
    margin-top: 76px;
}


// h1
h1 {
    margin-top: 5px;
    font-size: 100px;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 60px;
    }

}

@media (max-width: 767px) {

    h1 {
        font-size: 40px;
    }

}