// Importar variables SASS de Bootstrap personalizadas
@import "../vendor/bootstrap/_variables.scss";




// Header
#header-transparente ul > li > a {
    color: white;
}


// Sección "The well-simplified..."
#seccion-the-well-simplified {
    padding-top: 200px;
    padding-bottom: 90px;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

h1 {
    font-size: 90px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: -1px;
}

amp-script[script="script-cambiar-palabras-h1"] {
    display: inline; 
}

@media (max-width: 1010px) {

    h1 {
        font-size: 80px;
    }

    amp-script[script="script-cambiar-palabras-h1"] {
        display: inline; 
    }

}

@media (max-width: 991px) {

    amp-script[script="script-cambiar-palabras-h1"] {
        display: block; 
    }

}

@media (max-width: 780px) {

    h1 {
        font-size: 40px;
    }

    h1 br {
        display: none;
    }

    amp-script[script="script-cambiar-palabras-h1"] {
        display: inline; 
    }

}

@media (max-width: 775px) {

    amp-script[script="script-cambiar-palabras-h1"] {
        display: block; 
    }

}


// Sección "The innovative designs to enhance the human experience"
#seccion-the-innovative-designs {
    background-color: black;
    
    font-size: 60px;
    line-height: 1.15em;
    color: white;
}

#seccion-the-innovative-designs > div {
    display: flex;
    flex-direction: row-reverse;
}


// Sección "Our Team"
#seccion-our-team h2 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.3em;
}

.empleado {
    margin-bottom: 40px;
}

.empleado amp-img {
    max-width: 380px;
}

.empleado h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

.empleado .cargo {
    font-size: 14px;
    text-align: center;
    color: #575757;
}